* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}
main {
    width: 90vw;
    margin: auto;
    
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
    
}

p {
    font-size: 12px;
}

img {
    width: 100%;
}

header {
    background-color: #EAC926;
    width: 100%;
}

.logo {
    width: 200px;
}

.main-header {
    padding: 20px;
}

.header-title {
    font-weight: 400;
    text-align: center;
    font-size: 24px;
}

.main-navbar {
    display: none;
}

.main-navbar ul {
    padding: 0;
}

.search-container input {
    border: none;
}

.titulares {
    font-size: 24px;
}

.price {
    width: 30%;
    font-size: 18px;
}

.discount {
    width: 70%;
    font-size: 16px;
    color: #39b54a;
}

.description {
    font-size: 16px;
}

.price-discount {
    display: flex;
}

.burger-menu-container {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.burger-menu {
    background-color: #1259c3;
    color: #ffffff;
    font-size: 2em;
    margin: auto;
    border-radius: 6px;
    display: block;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item-container {
    margin: 10px;
    margin-bottom: 10px;
}
.product-detail-container {
    flex-direction: column;
    border: #ebebeb solid 1px;
    padding: 15px;
    display: none;
    background-color: #fff;
    position: relative;
}

.product-detail-container i {
    /* position: absolute;
    right: 35px;
    top: -16px; */
    
}

.fa-truck {
    color: #39b54a;
    font-size: 16px;
    display: block ;
    font-size: 16px ;
    padding: 5px ;
    width: 30px ;
    height: 30px ;
    border: 1px solid #39b54a ;
    background-color: #FFF ;
    border-radius: 50% ;
    position: absolute ;
    right: 20px ;
    top: -15px ;
    
}

.footer-article {
    text-align: center;
    color: #666;
}

.footer-article i{
    margin-bottom: 10px;
    font-size: 2em;
    color: #1259c3;
}

/****** Form *******/

.create-product-form {
    padding: 20px 15px;
}

.form-control {
    margin-bottom: 15px;
}

.form-control label {
    margin-bottom: 5px;
    font-style: italic;
    display: block;
}

.control {
    width: 100%;
    padding: 8px 8px;
    border: none;
    border-radius: 5px;
}

.button-form {
    background-color:#1259c3;
    border: none;
    font-size: 20px;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;

}

@media (min-width: 361px) {

.burger-menu {
    display: none;
}

.item-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    width: 40%;
    max-width: 1200px;
}

.product-detail-container {
    display: block;
}

.create-product-form {
    margin: auto;
    max-width: 355px;
}

    
}
@media (min-width: 769px) {

    .main-header-top-bar {
        display: flex;
        justify-content: space-between;
    }
    
    .header-title {
        max-width: 350px;
        text-align: right;
    }

    .main-navbar {
        display: flex;
        justify-content: space-between;
    }
    
    .main-navbar ul {
        display: flex;
    }
    
    .main-navbar li {
        margin: 0 5px;
    }
    
    .search-container {
        margin: auto;
    }

    .item-container{
        width: 22%;
    }   
}

@media (min-width: 1200px) {

    .logo {
        width: 250px;
    }

    .main-header-top-bar, .main-navbar {
        max-width: 1200px;
        margin: auto;
    }

    .main-header-top-bar {
        align-items: center;
        
    }

    .main-navbar {
        margin-top: 50px;
    }

    .main-navbar li {
        margin: 0 10px;
    }

    .main-navbar a {
        font-size: 19px;
    }

    .header-title {
        margin: 0;
        max-width: none;
        font-size: 19px;
        font-weight: 400;
    }

}